body {
  background-color: white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid black;
  color: #000;
}

.btn:hover {
  color: #fff;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}